body {
    background: linear-gradient(to bottom right, #0f0f0f, #1c1c1c);
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 1px;
}

.layout {
    display: flex;
    gap: 24px;
}

.sidebar {
    width: 200px;
    background: #1a1a1a;
    padding: 16px;
    border-radius: 8px;
    color: #ccc;
}

.content {
    flex: 1;
}

.boss-list {
    list-style: none;
    padding: 0;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));*/
    gap: 16px;

}

.boss-card {
    background: #1a1a1a;
    color: #eee;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}

.boss-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffcc00;
    text-decoration: none;
}

.boss-meta {
    margin-top: 6px;
    font-size: 0.9em;
    display: flex;
    gap: 12px;
}

.boss-health {
    color: #ff4d4d;
}

.boss-stars {
    color: #ffd700;
}

.boss-date {
    color: #aaa;
}

.boss-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 8px;
    display: block;
    object-fit: cover;
}